@charset "UTF-8";
body {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 3rem;
  line-height: 3rem;
  font-weight: 500;
}

@media screen and (max-width: 425px) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

.grid {
  display: -ms-grid;
  display: grid;
}

.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.flex-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pos-relativ {
  position: relative;
}

.hide-scroll {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.hide-scroll::-webkit-scrollbar {
  display: none;
}

span {
  display: inline-block;
}

.guillemet::before {
  content: '«';
}

.guillemet::after {
  content: '»';
}

/* container max width -------------------  */
.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 1.5rem;
  max-width: 1160px;
}

.header {
  margin: 0 auto;
  background-color: blue;
}

/* main -------------------  */
.main {
  margin: 0 auto;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

/* footer -------------------  */
.footer {
  margin: 0 auto;
  background-color: red;
}
