body {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 3rem;
    line-height: 3rem;
    font-weight: 500;

    @media screen and (max-width: 425px) {
        font-size: 1.5rem;
        line-height: 2rem;
    }
}

.grid {
    display: grid;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pos-relativ {
    position: relative;
}

.hide-scroll {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;

    /* Firefox */
    &::-webkit-scrollbar {
        display: none;
    }
}

span {
    display: inline-block;
}

.guillemet {

    &::before {
        content: '«';
    }

    &::after {
        content: '»';
    }
}

/* container max width -------------------  */

.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 1.5rem;
    max-width: 1160px;
}

.header {
    margin: 0 auto;
    background-color: blue;
}

/* main -------------------  */
.main {
    margin: 0 auto;
    flex: 1 1 auto;
}

/* footer -------------------  */
.footer {
    margin: 0 auto;
    background-color: red;
}