@import 'color';

body {
    font-size: 15px;
    font-family: 'Lexend Deca', sans-serif;
    line-height: 1.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 3rem;
    line-height: 3rem;
    font-weight: 500;
    font-family: 'Big Shoulders Display', cursive;
    color: $heading-colror;

    @media screen and (max-width: 425px) {
        font-size: 1.5rem;
        line-height: 2rem;
    }
}

.grid {
    display: grid;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pos-relativ {
    position: relative;
}

.hide-scroll {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;

    /* Firefox */
    &::-webkit-scrollbar {
        display: none;
    }
}

span {
    display: inline-block;
}

.guillemet {

    &::before {
        content: '«';
    }

    &::after {
        content: '»';
    }
}

/* container max width -------------------  */

.container {
    display: block;
    width: 100%;
    margin: 0 auto;
    max-width: auto;
    padding: 0 20px;
    display: flex;
    flex-direction: row;
}

.card {
    padding: 48px;
    color: $text-color;
}

.card-ilustrate {
    margin-bottom: 42px;
}

.sedans {
    background-color: $orange-card;

    .card__link {
        color: $orange-card;
        background-color: white;
    }
}

.suvs {
    background-color: $dark-cyan-card;

    .card__link {
        color: $dark-cyan-card;
        background-color: white;
    }
}

.luxury {
    background-color: $very-dark-cyan-card;

    .card__link {
        color: $very-dark-cyan-card;
        background-color: white;
    }
}

.card__header {
    margin-bottom: 40px;
    text-transform: uppercase;
}

.card__text {
    max-width: 200px;
    margin-bottom: 86px;
}

.card__link {
    display: inline-block;
    border-radius: 50px;
    padding: 0 30px;
    line-height: 3rem;
    text-transform: capitalize;

    &:hover {
        background-color: transparent;
        color: white;
        outline: 2px solid white
    }
}